{{>head}}

{{>navbar}}

<h1> this is the user dashboard</h1>


<!--Main Navigation-->
<header>
  <!-- Sidebar -->
 <div class=container>
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>View Routine</span>
        </a>
        <a href="/post_ride" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-lock fa-fw me-3"></i><span>Post Ride</span></a>

        <a href="/posted" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-lock fa-fw me-3"></i><span>Posted Ride</span></a>

        <a href="/view" class="list-group-item list-group-item-action py-2 ripple"><i
        class="fas fa-lock fa-fw me-3"></i><span>View Rides</span></a>


        <a href="/complain" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-chart-line fa-fw me-3"></i><span>Lodge Complaint</span></a>
        
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    
    <!-- Container wrapper -->
  </nav>
</div>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->

{{>tail}}