.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }


    .data_table {
        display: inline-block;
        overflow: hidden;
        text-align: center;
        background: #efefef;
        padding: 10px;
        width: 300px;
    }
    .data_table dt, .data_table dd {
        margin: 0;
        margin-bottom: 2px;
        display: inline;
    }
    .data_table dt {
        padding-right: 8px;
        
    }
    .data_table dd:after {
        content: '';
        display: block;
    }
    @media (max-width: 600px){
        .data_table {
            text-align: center;
        }
    }
    